@import url(.https://fonts.google.com/specimen/Montserrat?query=montserrat#styles);

body {
    width: 1280px;
    height: 1626px;
    background: #FFFFFF;
    padding: 0;
    margin: auto;
     
}
header{
    display: block;
       
}
nav {        
    color: #FF0000;
    text-align: center;
    letter-spacing: 0,3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    margin: 5px;
    padding:0px;
    
}
nav ul {
    float: inherit;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 10px;
}
nav ul li a{
    color: red;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 16px;
    
}
img {
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}
 
.title{
    font-family: 'Montserrat';
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3,3px;
    padding-left: 250px;
    padding-top: 40px;
    
}

.text {
    font-size: 2,4px;
    line-height: 35px;    
}
.text p{
    font-family: 'Montserrat';
    text-align: center;
    padding: 275px 67,5px 159px;
}
    
.button{
    position: absolute;
    width: 191px;
    height: 51px;
    margin: 0px 550px 0px;

    background: #FF0000;
    border-radius: 4px;    
    
}

.button-text{
    position: absolute;
    width: 191px;
    height: 51px;
    border: none;
    vertical-align: middle;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: red;    
    color: #FFFFFF;  
    cursor: pointer;    

}

.nav-footer{
    height: 200px;
    right: 700px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 600;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    letter-spacing: 2.4px;
}

